@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-ExtraLight.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-SemiBold.woff2'); 
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Bold.woff2'); 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-ExtraBold.woff2'); 
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-UltraBold.woff2'); 
    font-weight: 850;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Anjoman;
	font-display: swap ;
    src: url('font/Anjoman/Anjoman-Heavy.woff2');
    font-weight: 950;
    font-style: normal;
}
@font-face {
    font-family: Artin;
	font-display: swap ;
    src: url('font/Artin/Artin.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Aviny;
	font-display: swap ;
    src: url('font/Aviny/Aviny.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Daal;
	font-display: swap ;
    src: url('font/Daal/Daal.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Daal;
	font-display: swap ;
    src: url('font/Daal/Daal-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
  font-family: Damavand;
  font-display:swap ;
  src: url('font/Damavand/Damavand-ExtraBold.woff2');
  font-weight: Bold;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-extralight.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-demibold.woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-ultrabold.woff2');
    font-weight: 750;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-extrabold.woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: DanaFN;
	font-display: swap ;
    src: url('font/DanaFN/dana-fanum-black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-extralight.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-demibold.woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-ultrabold.woff2');
    font-weight: 750;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-extrabold.woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Dana;
	font-display: swap ;
    src: url('font/Dana/dana-black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Emkan;
	font-display: swap ;
    src: url('font/Emkan/Emkan-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Emkan;
	font-display: swap ;
    src: url('font/Emkan/Emkan-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Emkan;
	font-display: swap ;
    src: url('font/Emkan/Emkan-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Emkan;
	font-display: swap ;
    src: url('font/Emkan/Emkan-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: EmkanDeco;
	font-display: swap ;
    src: url('font/EmkanDeco/EmkanDeco-Thinwoff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Estedad;
	font-display: swap ;
    src: url('font/Estedad/Estedad-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Estedad;
	font-display: swap ;
    src: url('font/Estedad/Estedad-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Estedad;
	font-display: swap ;
    src: url('font/Estedad/Estedad-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Estedad;
	font-display: swap ;
    src: url('font/Estedad/Estedad-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Estedad;
	font-display: swap ;
    src: url('font/Estedad/Estedad-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: EstedadFN;
	font-display: swap ;
    src: url('font/EstedadFN/Estedad-FD-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: EstedadFN;
	font-display: swap ;
    src: url('font/EstedadFN/Estedad-FD-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: EstedadFN;
	font-display: swap ;
    src: url('font/EstedadFN/Estedad-FD-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: EstedadFN;
	font-display: swap ;
    src: url('font/EstedadFN/Estedad-FD-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: EstedadFN;
	font-display: swap ;
    src: url('font/EstedadFN/Estedad-FD-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Farhang;
	font-display: swap ;
    src: url('font/Farhang/Farhang-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Farhang;
	font-display: swap ;
    src: url('font/Farhang/Farhang-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: FarhangFN;
	font-display: swap ;
    src: url('font/FarhangFN/FarhangFaNum-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: FarhangFN;
	font-display: swap ;
    src: url('font/FarhangFN/FarhangFaNum-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: Gandom;
  font-display:swap ;
  src: url('font/Gandom/Gandom-FD.woff2');
  font-weight: normal;
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 200;
    src: url('font/Irancell/Irancell_ExtraLight.woff2');
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 300;
    src: url('font/Irancell/Irancell_Light.woff2');
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 400;
    src: url('font/Irancell/Irancell_Regular.woff2');
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 500;
    src: url('font/Irancell/Irancell_Medium.woff2');
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 700;
    src: url('font/Irancell/Irancell_Bold.woff2');
}
@font-face {
    font-family: Irancell;
	font-display: swap ;
    font-style: normal;
    font-weight: 800;
    src: url('font/Irancell/Irancell_Extrabold.woff2');
}
@font-face {
    font-family: IRANRounded;
	font-display: swap ;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANRounded/IRANRounded.woff2');
}
@font-face {
    font-family: IRANSans;
	font-display: swap ;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSans/IRANSansWeb_UltraLight.woff2');
}
@font-face {
    font-family: IRANSans;
	font-display: swap ;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSans/IRANSansWeb_Light.woff2');
}@font-face {
    font-family: IRANSans;
	font-display: swap ;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSans/IRANSansWeb.woff2');
}
@font-face {
	font-family: IRANSans;
	font-display: swap ;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANSans/IRANSansWeb_Medium.woff2');
}
@font-face {
	font-family: IRANSans;
	font-display: swap ;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSans/IRANSansWeb_Bold.woff2');
}
@font-face {
	font-family: IRANSans;
	font-display: swap ;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANSans/IRANSansWeb_Black.woff2');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap ;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANSansDN/iransansdnweblight.woff2');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap ;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANSansDN/iransansdnweb.woff2');
}
@font-face {
	font-family: IRANSansDN;
	font-display: swap ;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansDN/iransansdnwebbold.woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_UltraLight.woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Light.woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum).woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: 500;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Medium.woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: bold;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Bold.woff2');
}
@font-face {
    font-family: IRANSansFN;
	font-display: swap ;
    font-style: normal;
    font-weight: 900;
    src: url('font/IRANSansFN/IRANSansWeb(FaNum)_Black.woff2');
}
@font-face {
  font-family: IRANSharp;
  font-display:swap ;
  src: url('font/IRANSharp/iransharp_light_web.woff2');
  font-weight: 300;
}
@font-face {
  font-family: IRANSharp;
  font-display:swap ;
  src: url('font/IRANSharp/iransharp_regular_web.woff2');
  font-weight: normal;
}
@font-face {
  font-family: IRANSharp;
  font-display:swap ;
  src: url('font/IRANSharp/ransharp_bold_web.woff2');
  font-weight: Bold;
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 100;
	src: url('font/IRANYekan/iranyekanwebthin.woff2');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANYekan/iranyekanweblight.woff2');
}

@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANYekan/iranyekanwebregular.woff2');
}

@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANYekan/iranyekanwebmedium.woff2');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANYekan/iranyekanwebbold.woff2');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 800;
	src: url('font/IRANYekan/iranyekanwebextrabold.woff2');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANYekan/iranyekanwebblack.woff2');
}
@font-face {
	font-family: IRANYekan;
	font-display: swap ;
	font-style: normal;
	font-weight: 950;
	src: url('font/IRANYekan/iranyekanwebextrablack.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 100;
	src: url('font/IRANYekanFN/iranyekanwebthinfanum.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 300;
	src: url('font/IRANYekanFN/iranyekanweblightfanum.woff2');
}

@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: normal;
	src: url('font/IRANYekanFN/iranyekanwebregularfanum.woff2');
}

@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 500;
	src: url('font/IRANYekanFN/iranyekanwebmediumfanum.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANYekanFN/iranyekanwebboldfanum.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 800;
	src: url('font/IRANYekanFN/iranyekanwebextraboldfanum.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 900;
	src: url('font/IRANYekanFN/iranyekanwebblackfanum.woff2');
}
@font-face {
	font-family: IRANYekanFN;
	font-display: swap ;
	font-style: normal;
	font-weight: 950;
	src: url('font/IRANYekanFN/iranyekanwebextrablackfanum.woff2');
}
@font-face {
  font-family: Kalameh;
  font-display:swap ;
  src: url('font/Kalameh/KalamehWeb_thin.woff2');
  font-weight: 100;
}
@font-face {
  font-family: Kalameh;
  font-display:swap ;
  src: url('font/Kalameh/KalamehWeb_Regular.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Kalameh;
  font-display:swap ;
  src: url('font/Kalameh/KalamehWeb_Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: Kalameh;
  font-display:swap ;
  src: url('font/Kalameh/KalamehWeb_Black.woff2');
  font-weight: 900;
}
@font-face {
  font-family: Katibeh;
  font-display:swap ;
  src: url('font/Katibeh/katibeh.woff2');
  font-weight: normal;
}
@font-face {
    font-family: Maneli;
	font-display: swap ;
    font-style: normal;
    font-weight: normal;
    src: url('font/Maneli/Maneli.woff2');
}
@font-face {
    font-family: Mikhak;
	font-display: swap ;
    src: url('font/Mikhak/Mikhak-Thin.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Mikhak;
	font-display: swap ;
    src: url('font/Mikhak/Mikhak-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Mikhak;
	font-display: swap ;
    src: url('font/Mikhak/Mikhak-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Mikhak;
	font-display: swap ;
    src: url('font/Mikhak/Mikhak-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Mikhak;
	font-display: swap ;
    src: url('font/Mikhak/Mikhak-Black.woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
  font-family: Nahid;
  font-display:swap ;
  src: url('font/Nahid/Nahid-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Noora;
  font-display:swap ;
  src: url('font/Noora/Noora-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Noora;
  font-display:swap ;
  src: url('font/Noora/Noora-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Noora;
  font-display:swap ;
  src: url('font/Noora/Noora-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: NooraFN;
  font-display:swap ;
  src: url('font/NooraFN/Noora-Light-FN.woff2');
  font-weight: 300;
}
@font-face {
  font-family: NooraFN;
  font-display:swap ;
  src: url('font/NooraFN/Noora-Regular-FN.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Noora;
  font-display:swap ;
  src: url('font/NooraFN/Noora-Bold-FN.woff2');
  font-weight: bold;
}
@font-face {
  font-family: Parastoo;
  font-display:swap ;
  src: url('font/Parastoo/Parastoo-FD.woff2');;
  font-weight: normal;
}
@font-face {
  font-family: Parastoo;
  font-display:swap ;
  src: url('font/Parastoo/Parastoo-Bold-FD.woff2');
  font-weight: Bold;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Hairline.woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
  font-family: Sahel;
  font-display:swap ;
  src: url('font/Sahel/Sahel-Light-FD.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Sahel;
  font-display:swap ;
  src: url('font/Sahel/Sahel-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Sahel;
  font-display:swap ;
  src: url('font/Sahel/Sahel-SemiBold-FD.woff2');
  font-weight: 600;
}
@font-face {
  font-family: Sahel;
  font-display:swap ;
  src: url('font/Sahel/Sahel-Bold-FD.woff2');
  font-weight: Bold;
}
@font-face {
  font-family: Sahel;
  font-display:swap ;
  src: url('font/Sahel/Sahel-Black-FD.woff2');
  font-weight: 900;
}
@font-face {
  font-family: Samim;
  font-display:swap ;
  src: url('font/Samim/Samim-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Samim;
  font-display:swap ;
  src: url('font/Samim/Samim-Medium-FD.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Samim;
  font-display:swap ;
  src: url('font/Samim/Samim-Bold-FD.woff2');
  font-weight: Bold;
}
@font-face {
  font-family: Tanha;
  font-display:swap ;
  src: url('font/Tanha/Tanha.woff2');
  font-weight: normal;
}
@font-face {
  font-family: TanhaFN;
  font-display:swap ;
  src: url('font/TanhaFN/Tanha-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Shabnam;
  font-display:swap ;
  src: url('font/Shabnam/Shabnam-Thin.woff2');
  font-weight: 100;
}
@font-face {
  font-family: Shabnam;
  font-display:swap ;
  src: url('font/Shabnam/Shabnam-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Shabnam;
  font-display:swap ;
  src: url('font/Shabnam/Shabnam.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Shabnam;
  font-display:swap ;
  src: url('font/Shabnam/Shabnam-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Shabnam;
  font-display:swap ;
  src: url('font/Shabnam/Shabnam-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: ShabnamFN;
  font-display:swap ;
  src: url('font/ShabnamFN/Shabnam-Thin-FD.woff2');
  font-weight: 100;
}
@font-face {
  font-family: ShabnamFN;
  font-display:swap ;
  src: url('font/ShabnamFN/Shabnam-Light-FD.woff2');
  font-weight: 300;
}
@font-face {
  font-family: ShabnamFN;
  font-display:swap ;
  src: url('font/ShabnamFN/Shabnam-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: ShabnamFN;
  font-display:swap ;
  src: url('font/ShabnamFN/Shabnam-Medium-FD.woff2');
  font-weight: 500;
}
@font-face {
  font-family: ShabnamFN;
  font-display:swap ;
  src: url('font/ShabnamFN/Shabnam-Bold-FD.woff2');
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir-Thin.woff2');
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir.woff2');
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  font-display:swap ;
  src: url('font/Vazir/Vazir-Black.woff2');
  font-weight: 900;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-Thin-FD.woff2');
  font-weight: 100;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-Light-FD.woff2');
  font-weight: 300;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-FD.woff2');
  font-weight: normal;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-Medium-FD.woff2');
  font-weight: 500;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-Bold-FD.woff2');
  font-weight: bold;
}
@font-face {
  font-family: VazirFN;
  font-display:swap ;
  src: url('font/VazirFN/Vazir-Black-FD.woff2');
  font-weight: 900;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Thin.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Bold.woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Heavy.woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Yekanbakh;
	font-display: swap ;
    src: url('font/YekanBakh/YekanBakh-Fat.woff2');
    font-weight: 800;
    font-style: normal;
}